.submit-image-page-container {
  padding-top: 6rem; }
  .submit-image-page-container .submit-image-form {
    margin: 0 auto;
    width: 80%; }
    .submit-image-page-container .submit-image-form .form-control-file {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px; }
