.center_text{
    text-align: center;
}

.section_title{
    color: #D25D68;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.landing_page_section{
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        .main_logo{
            width: 250px;
        }
        .main_name{
            color: #5dd2c7;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-weight: 700;
            font-size: 10rem;
        }
    }
    .description_section{
        .future_updates_section{
            ul{
                text-align: center;
                list-style: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
    .technology_section{
        .texhnology_list{
            list-style: none;
            display: flex;
            justify-content: center;
            flex-flow: row wrap;
            .technology_item{
                margin:1rem;
                .technology_image{
                    width: 50px;
    
                }
                .technology_name{
                    margin-left: 1rem;
                    font-size: 1.25rem;
                }
            }
        }
    }
    .redirect_section{
        margin:0 auto;
        width: 30%;
        margin-bottom: 2rem;
    }
    @media (max-width: 650px) {
        .redirect_section{
            margin:0 auto;
            width: 100%;
            margin-bottom: 2rem;
        }
    }
}