.submit-image-page-container{
    padding-top: 6rem;
    .submit-image-form{
        margin: 0 auto;
        width: 80%;
        .form-control-file{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200px;
        }
    }
}