.user_page_section{
    .user_details{
        margin:0 auto;
        width: 40%;
        text-align: center;
        .user_username{
            margin:0 0 1rem;
            color: #D25D68;
            font-size: 4rem;
            font-weight: 900;
        }
        .user_fullname{
            margin:0;
            font-weight: lighter;
            font-size: 2rem;
            opacity: .5;
        }
        .gallery_length{
            font-weight: 700;
            font-size: 1.5rem;
        }
        .orange_button{
            background-color: orange;
        }
        .inactive_button{
            background-color: gray;
        }
        
        .inactive_button:hover{
            opacity: 1;
        }
    }
    .upload_section{
        margin-bottom: 1rem;
        div{
            text-align: center;
            margin:0 auto;
            width: 40%;
        }
    }
    .image_list_section{
        .image_item{
            .delete_button{
                transition: .5s;
                color: white;
                font-weight: 700;
                border: white 2.5px solid;
                background-color: crimson;
                border-top-left-radius: 15px;
                border-bottom-right-radius: 15px;
                width: 50px;
                height: 50px;
                position: absolute;
            }
            .delete_button:hover{
                background-color: rgb(129, 12, 35);
            }
            .delete_button_loading, .delete_button_loading:hover{
                background-color: rgb(68, 68, 68);
                cursor:crosshair;
            }
        }
    }

    @media (max-width: 800px) {
        .user_details{
            width: 70%;
        }
        .upload_section{
            div{
                width: 70%;
            }
        }
    }
    @media (max-width: 500px) {
        .user_details{
            width: 100%;
        }
        .upload_section{
            div{
                width: 100%;
            }
        }
    }
}