body{
    padding-top: 74px;
    padding: calc(74px + 2rem) 2rem 0px;
}
.description{
    font-size: 1.5rem;
}

.form_section{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .checked_icon{
        color: #5dd2c7;
    }
    .message_text{
        font-size: 2rem;
        font-weight: 700;
    }
}

.user-form{
    box-shadow: rgba(0, 0, 0, 0.25) 2.5px 2.5px 10px;
    padding: 1rem;
    border-radius: 25px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    margin-bottom: 1rem;
}

input[type=submit]{
    transition: .5s;
    color: white;
    padding: 0.5rem 1rem;
    border:none;
    border-radius: 2rem;
    width: 100%;
    background-color: #5dd2c7;
}

input[type=submit]:hover{
    opacity: .75;
}

.image_list_section{
    .image_item{
        transition: .5s;
        overflow: hidden;
        border-radius: 15px;
        display: inline-block;
        margin-bottom: .75rem;
        .image{
            transition: .5s;
            width: 100%;
        }
    }
    .image_item:hover{
        transform: translateY(5px);
    }
    .disabled_image_item{
        opacity: .5;
    }
}

.wide_image_list_section{
    columns:5
}

.small_image_list_section{
    columns:2
}

@media (max-width: 700px) {

    .wide_image_list_section{
        columns:2
    }
}

.side_effect{
    display: flex;
    flex-direction: column;
    align-items: center;
    .message_text{
        font-size: 1.5rem;
        font-weight: 700;
    }
}

.loading_message{
    color: #D25D68;
    #loading_icon{
        animation: loading 1s linear infinite;
        transform-origin: center;
        transform-box: fill-box;
    }
    @keyframes loading{
        0% {transform: translateY(-10px)}
        50% {transform: translateY(0px)}
        100% {transform: translateY(-10px)}
    }
}

.error_message{
    color: crimson;
}

.no_image_message_container{
    color: #800d8f;
}