 .main-page-container{
    padding-top: 1rem;
    .image-list{
         margin:0rem 1rem;
         padding-top: 5rem;
         columns: 5;
         a{
            margin-bottom: 1rem;
            width: 100%;
            display: inline-block;
            overflow: hidden;
            border-radius: 10px;
            background-color: white;
         }
         .image-item{
            width: 100%;
         }
     }
 }