body {
  padding-top: 74px;
  padding: calc(74px + 2rem) 2rem 0px; }

.description {
  font-size: 1.5rem; }

.form_section {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.message-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .message-box .checked_icon {
    color: #5dd2c7; }
  .message-box .message_text {
    font-size: 2rem;
    font-weight: 700; }

.user-form {
  box-shadow: rgba(0, 0, 0, 0.25) 2.5px 2.5px 10px;
  padding: 1rem;
  border-radius: 25px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center; }

input {
  margin-bottom: 1rem; }

.submit_button {
  transition: .5s;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 2rem;
  width: 100%;
  background-color: #5dd2c7; }

.submit_button:hover {
  opacity: .75; }

.image_list_section .image_item {
  transition: .5s;
  overflow: hidden;
  border-radius: 15px;
  display: inline-block;
  margin-bottom: .75rem; }
  .image_list_section .image_item .image {
    transition: .5s;
    width: 100%; }

.image_list_section .image_item:hover {
  transform: translateY(5px); }

.image_list_section .disabled_image_item {
  opacity: .5; }

.wide_image_list_section {
  columns: 5; }

.small_image_list_section {
  columns: 2; }

@media (max-width: 700px) {
  .wide_image_list_section {
    columns: 2; } }

.side_effect {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .side_effect .message_text {
    font-size: 1.5rem;
    font-weight: 700; }

.loading_message {
  color: #D25D68; }
  .loading_message #loading_icon {
    animation: loading 1s linear infinite;
    transform-origin: center;
    transform-box: fill-box; }

@keyframes loading {
  0% {
    transform: translateY(-10px); }
  50% {
    transform: translateY(0px); }
  100% {
    transform: translateY(-10px); } }

.error_message {
  color: crimson; }

.unavalible_message_container {
  color: #800d8f; }

.text_link {
  color: #D25D68; }

.disabled_button, .disabled_button:hover {
  opacity: 1;
  background-color: gray; }
