.main-page-container {
  padding-top: 1rem; }
  .main-page-container .image-list {
    margin: 0rem 1rem;
    padding-top: 5rem;
    columns: 5; }
    .main-page-container .image-list a {
      margin-bottom: 1rem;
      width: 100%;
      display: inline-block;
      overflow: hidden;
      border-radius: 10px;
      background-color: white; }
    .main-page-container .image-list .image-item {
      width: 100%; }
