.main-page-container .image-list {
  margin: 0rem 1rem;
  padding-top: 5rem;
  columns: 4; }
  .main-page-container .image-list a {
    text-decoration: none; }
  .main-page-container .image-list .image-item {
    width: 100%;
    padding-bottom: 1rem;
    transition: .5s;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 1rem;
    display: inline-block;
    text-align: center;
    box-shadow: 2.5px 2.5px 7.5px rgba(0, 0, 0, 0.5);
    background-color: white; }
    .main-page-container .image-list .image-item img {
      width: 100%; }
    .main-page-container .image-list .image-item .image-details {
      color: black;
      padding-top: 1rem; }
      .main-page-container .image-list .image-item .image-details .image-title {
        font-weight: 700; }
  .main-page-container .image-list .image-item:hover {
    opacity: .75; }
